.footerContent{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:flex-start;
    background-color: rgb(30,30,30);
    align-content: space-between;
    margin-top:80px;
    height:auto;
    padding-bottom: 3%;
    padding-top:3%;
}

.footerContent > div{
    display: flex;
    flex-direction:column;
    margin-left:5%;
    margin-right:5%;
}

.dataContentFooter{
    display:flex;
    flex-direction: column;

}

.titulos{
    color:white;
}

.values{
    color:gray;
    text-decoration: none;
    margin-top:10px;
}