html{
    margin:0;
    padding:0;
    width:100vw;
    max-width: 100vw;
}

*{max-width:100vw;}
body{
    margin:0;
    max-width:100vw;
    
 }
 #__next{
  overflow:hidden;
 }
 

 /* Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) { 
 
    
    header{
        
        display:flex;
        flex-direction:row;
        justify-content:center;
    }
    
    main{
      
        display:flex;
        flex-direction: row;
        max-width:100vw;
        width:100vw;
    }
    
    footer{
        width:100vw;
    }

 }
 
 /* Medium devices (desktops, 992px and up) */
 @media (min-width: 992px) { 

    main{
        display:flex;
        flex-direction:row;
        justify-content: center;
        max-width:100vw;
        width:100vw;
        overflow: hidden;
    }
    
 }
 
 /* Small devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
    main{
        display:flex;
        flex-direction:row;
        justify-content: center;
        max-width:100vw;
        width:100vw;
        overflow: hidden;
    }
 }

 @media (max-width: 768px) {
    main{
        display:flex;
        flex-direction:row;
        justify-content: center;
        max-width:100vw;
        width:100vw;
        overflow: hidden;
    }
  }
