@font-face {
    font-family: "MarcaFont";
    src: url("../fonts/GrandifloraOne-Regular.ttf") format("truetype");
    /* Puedes agregar estilos adicionales como font-weight y font-style si es necesario */
}


.open {
    margin-left: -20%;
}

/** Large devices */
@media(min-width:1300px) {

    .header {
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 100vw;
    }

    .marcaContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: auto;
    }

    .tituloLogo {
        font-size: calc(0.8*1vw);
        max-width: 300px;
        text-align: center;
        font-family: "MarcaFont";
    }

    .menu {
        display: flex;
        justify-content: left;
        align-items: center;
        min-width: 50%;
        flex-wrap: nowrap;
        text-align: left;
        margin-left: 40px;
    }

    .menu>a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 2%;
        text-decoration: none;
        outline: none;
        color: black;
        font-size: 1.3em;
    }

    .menu>a:hover {
        border-bottom: 1px solid rgb(100, 1, 0);
        color: rgb(100, 1, 0);
    }

    .calidadImg {
        position: relative;
        width: 100%;
    }


}


/**  Medium Device */
@media (min-width: 992px) and (max-width:1300px) {

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .marcaContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 20%;

    }

    .marcaContent>div>h2 {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .tituloLogo {
        font-size: calc(0.8*1vw);
        max-width: 300px;
        text-align: center;
        font-family: "MarcaFont";
        position: relative;
        width: 100%;
    }



    .menu {
        display: flex;
        flex-direction: row;
        align-self: end;
        min-width: 60%;
        flex-grow: inherit;
    }

    .menu>a {
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 2%;
        text-decoration: none;
        outline: none;
        color: black;
        font-size: 1.2em;
    }

    .menu>a:hover {
        border-bottom: 1px solid rgb(100, 1, 0);
        color: rgb(100, 1, 0);
    }

    .calidadImg {
        position: relative;
        width: 100%;
    }


}

/** Small devices*/
@media (min-width: 768px) and (max-width:992px) {

    .header {
        display: flex;
        flex-direction: row;
        align-self: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .marcaContent {
        text-align: center;
        align-items: center;
        height: auto;
        width: 70%;
        align-self: center;
        flex-grow: 3;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: end;
        flex-grow: 1;
    }

    .menu>a {
        display: none;

    }

    .tituloLogo {
        font-size: 0.9em;
        text-align: center;
        font-family: "MarcaFont";
        position: relative;
        width: 100%;
    }



}

/** Extra small devices*/
@media (max-width: 768px) {

    .header {
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 100vw;
        max-width: 100vw;
        margin-top: 20px;
    }

    .marcaContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        flex-grow: 3;
    }

    .tituloLogoContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .tituloLogo {
        font-size: 0.7em;
        text-align: center;
        font-family: "MarcaFont";
        position: relative;
        width: 50%;

    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: end;
        flex-grow: 1;
    }

    .menu>a {
        display: none;

    }

    .menu>.menuIcon {
        display: block;
    }

}