@font-face {
    font-family: "NunitoFont";
    src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
    /* Puedes agregar estilos adicionales como font-weight y font-style si es necesario */
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1300px) {
    .content {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        text-align: center;
        font-family: NunitoFont;
        color: rgb(100, 1, 0);
    }

    .content>.contentParrafos {
        position: relative;
        width: 70%;
    }

    .contentParrafos>p {
        font-family: NunitoFont;
        font-size: 1.1em;
        color: rgb(71, 71, 71);
    }

    .contentMaps {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
    }

    .contentMaps>iframe {
        margin-top: 5%;
        border: none;
        margin-left: 5px;
    }

    .contentMapLargue {
        margin-top: 5%;
        border: none;
        margin-left: 5px;

    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1300px) {
    .content {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        text-align: center;
        font-family: NunitoFont;
        color: rgb(100, 1, 0);
    }

    .content>.contentParrafos {
        position: relative;
        width: 70%;
    }

    .contentParrafos>p {
        font-family: NunitoFont;
        font-size: 1.1em;
        color: rgb(71, 71, 71);
    }

    .contentMaps {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
    }

    .contentMaps>iframe {
        position: relative;
        width: 50%;
        margin-top: 5%;
        border: none;
        max-width: 500px;

    }


}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:992px) {
    .content {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        text-align: center;
        font-family: NunitoFont;
        color: rgb(100, 1, 0);
    }

    .content>.contentParrafos {
        position: relative;
        width: 70%;
    }

    .contentParrafos>p {
        font-family: NunitoFont;
        font-size: 1.1em;
        color: rgb(71, 71, 71);
    }

    .contentMaps {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
    }

    .contentMaps>iframe {
        position: relative;
        width: 50%;
        margin-top: 5%;
        border: none;


    }
}

@media (max-width: 768px) {
    .content {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        text-align: center;
        font-family: NunitoFont;
        color: rgb(100, 1, 0);
    }

    .content>.contentParrafos {
        position: relative;
        width: 88%;
    }

    .contentParrafos>p {
        font-family: NunitoFont;
        font-size: 1.1em;
        color: rgb(71, 71, 71);
        text-align: center;
    }

    .contentMaps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
    }

    .contentMaps>iframe {
        margin-top: 5%;
        border: none;
        margin-left: 5px;
        width: 100vw;
    }
}